@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #dadce0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  min-height: 40px;
}

* {
  text-rendering: geometricPrecision;
  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin-bottom: 0;
}

@media (min-width: 320px){
  .seven-cols .col-day,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    min-height: 50px;
  }

  .week-header {
    display: none;
  }
}

// width = 100% / 7 column-number = 14.285714285714285714285714285714%
@media (min-width: 768px) {
  .week-header {
    display: flex;
  }

  .seven-cols .col-day,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    min-height: 125px;
    *width: 14.285714285714285714285714285714%;
  }
}
