@mixin simple-btn () {
  opacity: 0;
  line-height: 1;
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
}

.mat-card {
  padding: 0;
  border-radius: 0;
}

.week-header {
  background-color: #2e74b5;
  color: white;
  label {
    text-align: center;
  }
}

::ng-deep {
  .mat-card-header-text {
    width: 100%;
  }
}

.mat-card-header {
  .mat-card-title {
    width: 100%;
    font-size: .8rem;
  }
}

.calendar-wrapper {
  .weekend {
    background-color: #f1f1f1;
  }

  .text-muted {
    color: #afb8bf !important;
  }

  .mat-card {
    box-shadow: 0 2px 0 -9px rgba(0,0,0,.5), 0 1px 1px 0 rgba(0,0,0,.35), 0 1px 3px 0 rgba(0,0,0,.12);
    transition: all .3s ease;
    button {
      opacity: 0;
      @include simple-btn();
    }

    &:hover {
      button.btn-delete {
        opacity: 1;
      }
    }
  }

  .pin {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  li {
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;

    &.blue:hover { background: blue; }
    &.red:hover { background: red; }
    &.green:hover { background: green; }
    &.purple:hover { background: purple; }
    &.gray:hover { background: gray; }
    &.brown:hover { background: brown; }
    &.orange:hover { background: orange; }

    .time {
      min-width: 70px;
      display: inline-block;
    }

    &:hover {
      color: white;
      button {
        opacity: 1;
      }
    }
    button {
      @include simple-btn();
    }
  }
}
